body {
    /* margin:0;
            padding: 0;*/
    /* background-image: url('/images/sam.jpg');*/
    background: linear-gradient(to bottom, #F8F0C6, #d7dde8); /* #757f9a*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f37437;
   height:70px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 23px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: white;
            color:black;
        }

.active {
    background-color: white;
    color:black;
}
.menu{
    margin-left:500px;
}
.logo {
    width: 150px;
    height: 100px;
}
.btn{
    border-radius:20px;
    width:80px;
}
.tbox {
    border: none;
    border-bottom: 2px solid grey;
}

.addemp {
   display:flex;
    margin-top:40px;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

.adddept{
    display:flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addjob {
    display:flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.addsal {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dash {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrapper {
    width: 600px;
    min-height:300px;
    max-height:800px;
    position: relative;
    padding-top: 10px;
   
    
}
.wrapper1 {
    width: 500px;
    height: 200px;
    position: relative;
    padding-top: 10px;
    
  
}
.wrapper2 {
    width: 300px;
    height: 250px;
    position: relative;
    padding-top: 10px;
    background: linear-gradient(to right, #F46723,#f37437); /*#FF5301 #F46723 #f37437*/
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper2:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #F0A581;
    color: black;
}

.flip-card-back {
    background-color: #F0A581;
    color: white;
    transform: rotateY(180deg);
    color:black;
}
h2{
    
    text-align:center;
}
.search{
    margin-left:10px;
}
.val{
    color:red;
}
h3{
    color:black;
    text-align:center;
}
.labl {
    font-size: 44px;
    color: black;
    
}
.sec {
    font-size:20px;
    text-align: center;
    margin-top:25px;

}
.icn{
    width:100px;
    height:100px;
}
