body {
    /* margin:0;
            padding: 0;*/
    /* background-image: url('/images/sam.jpg');*/
    background: linear-gradient(to bottom, #757f9a, #d7dde8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f37437;
   height:70px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 23px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: white;
            color:black;
        }

.active {
    background-color: white;
    color:black;
}
.menu{
    margin-left:500px;
}
.logo {
    width: 150px;
    height: 100px;
}
.btn{
    border-radius:20px;
    width:80px;
}
.tbox {
    border: none;
    border-bottom: 2px solid grey;
}

.addemp {
   display:flex;
    margin-top:40px;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

.adddept{
    display:flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addjob {
    display:flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrapper {
    width: 500px;
    min-height:300px;
    max-height:450px;
    position: relative;
    padding-top: 10px;
   
    
}
.wrapper1 {
    width: 500px;
    height: 200px;
    position: relative;
    padding-top: 10px;
    
  
}
h2{
    
    text-align:center;
}
.search{
    margin-left:10px;
}
